{% extends "base.html" %}

{% block title %}Passwort ändern{% endblock %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin_styles.css') }}">

<div class="admin-section">
    <h2>Passwort ändern</h2>
    <form method="POST" class="admin-form-change-password">
        <div class="form-group">
            <label for="current_password">Aktuelles Passwort:</label>
            <input type="password" id="current_password" name="current_password" required>
        </div>
        <div class="form-group">
            <label for="new_password">Neues Passwort:</label>
            <input type="password" id="new_password" name="new_password" required>
        </div>
        <div class="form-group">
            <label for="confirm_password">Neues Passwort bestätigen:</label>
            <input type="password" id="confirm_password" name="confirm_password" required>
        </div>
        <button type="submit" class="button button-primary">Passwort ändern</button>
    </form>
</div>
{% endblock %}
